# fly.toml app configuration file generated for infinite-wiki on 2025-11-29T17:31:20Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'infinite-wiki'
primary_region = 'fra'

[build]

[[mounts]]
  source = 'worlds'
  destination = '/app/worlds'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
